/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

/* page */
.wrapper {
  padding-top: 20px;
  width: 900px;
  margin: 0 auto;
}
.logo {
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
.filters {
  padding-top: 20px;
  display: flex;
}

.cards-container {
  padding-top: 20px;
}

/* dropdown component */
.component-dropdown-container {
  position: relative;
  margin: 5px;
  border: 2px solid #ccc;
  text-align: center;
  border-radius: 3px;
}

.component-dropdown-container.disabled .component-dropdown-value {
  opacity: 0.5;
  cursor: not-allowed;
}

.component-dropdown-value {
  padding: 10px 20px;
  cursor: pointer;
}
.component-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  display: none;
  list-style: none;
}
.component-dropdown-container.active .component-dropdown-list {
  display: block;
}
.component-dropdown-item {
  padding: 5px;
  cursor: pointer;
  border-top: 1px solid #ccc;
}
.component-dropdown-item:hover {
  background-color: #ccc;
}

/* card component */
.component-card {
  display: inline-block;
  width: 33.3%;
  padding: 20px 5px;
}
.component-card-img {
  height: 170px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.component-card-brand {
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
}
.component-card-model {
  font-size: 19px;
}
.component-card-price {
  font-weight: bold;
  padding-top: 5px;
}
.component-card-descr {
  padding-top: 10px;
  font-size: 16px;
}

/* search button component */
.component-search {
  padding: 10px 20px;
  border: 2px solid #ccc;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.component-search.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* component page */
.component-page {
  width: 100%;
  display: flex;
}
.component-page-img {
  width: calc(100% - 300px);
  padding: 5px;
}
.component-page-img img {
  width: 100%;
}
.component-page-info {
  width: 300px;
  padding: 5px;
}
.component-page-title {
  font-size: 22px;
  font-weight: bold;
}
.component-page-price {
  font-weight: bold;
  padding-top: 5px;
}
.component-page-descr {
  padding-top: 10px;
  font-size: 16px;
}
.component-page-table {
  width: 100%;
  padding-top: 20px;
}
.component-page-table td:last-child {
  text-align: right;
  font-size: 14px;
  font-weight: bold;
}

/* router */
.router {
  position: relative;
}
.router .router-page {
  display: none;
}
.router .router-page.active {
  display: block;
}

/* loading */
.loading::before {
  display: block;
  position: absolute;
  top: 100px;
  left: calc(50% - 100px);
  content: " ";
  z-index: 2;
  background-image: url("/img/loading.gif");
  background-position: center center;
  background-size: 100%;
  width: 200px;
  height: 200px;
}
.loading::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
}

/* about */
.about {
  padding: 5px;
  padding-bottom: 500px;
}

.about section {
  padding-top: 20px;
}

.about section p {
  padding-top: 10px;
  font-size: 18px;
}

.about section h2 {
  padding-top: 20px;
  font-size: 24px;
}

.about menu {
  width: 900px;
  background-color: #fff;
  padding: 5px;
}

.about menu.sticked {
  position: fixed;
  top: 0;
}

/* pop-up */
.pop-up {
  position: fixed;
  top: 0;
  background-color: green;
  color: #fff;
  padding: 10px 20px;
  width: 200px;
  right: -200px;
  opacity: 0;
  transition: 0.5s;
}

.pop-up.active {
  right: 0;
  opacity: 1;
}




/* burger */
.menu-nav {
  display: flex;
}

.burger {
  margin-right: 10px;
  display: none;
}

.burger.active {
  display: block;
}











